@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

body {
    background-image: url('../../../assets/images/medieval_inn_room_by_amateurfantasyedits_dhgjirv-fullview.jpg');
    background-size: cover;
    font-family: 'MedievalSharp', cursive;
    color: #f1e1a6;
}

.card {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #c69d66;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
}

.form-control {
    background-color: #2e2b29;
    color: #f1e1a6;
    border: 1px solid #c69d66;
    margin-bottom: 15px;
}

.form-control:focus {
    border-color: #d4af37;
    box-shadow: 0 0 10px #d4af37;
}

label {
    color: #f1e1a6;
}

.btn-primary {
    background-color: #d4af37;
    border: none;
    color: #2e2b29;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #f1e1a6;
}

.container {
    max-width: 500px;
}

h2 {
    color: #d4af37;
    text-align: center;
    margin-bottom: 20px;
}
